
<!DOCTYPE html>
<html>
  <head>
    <title>PhotoShare</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="/routes/f1.js"></script>
  </head>
  <header>
    <%- include("templates/header.ejs"); %>
  </header>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to PhotoShare</p> 
    <div id="test"></div>
  </body>
  <a href="/signup">Sign Up!</a>

  <table class="table">
    <thead>
      <tr>
        <th>UAID</th>
        <th>Name</th>
        <th>UUID</th>
        <th>creationDate</th>
      </tr>
    </thead>
    <tbody>
      <% if(data.length){ for(var i = 0; i< data.length; i++) {%>
        <tr>
          <th scope="row"><%= (i+1) %></th>
          <td><%= data[i].UAID%></td>
          <td><%= data[i].Name%></td>
        </tr>
        <% } }else{ %>
        <tr>
          <td>No data ever existed.</td>
        </tr>
        <% } %>
    </tbody>
  </table>  

